# English Premier League (EPL) Pythagorean Predictor

## Step 1

In [43]:
# Load the packages

import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
# Load the data. 
# EPL results for the 2017/18 season

EPL18 = pd.read_excel('Assignment Data/Week 1/EPL2017-18.xlsx')
print(EPL18.columns.tolist())

['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']

## Step 2

In [45]:
EPL18['hwinvalue']=np.where(EPL18['FTR']=='H',1,np.where(EPL18['FTR']=='D',.5,0))
EPL18['awinvalue']=np.where(EPL18['FTR']=='A',1,np.where(EPL18['FTR']=='D',.5,0))
EPL18['count']=1
EPL18

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,hwinvalue,awinvalue,count
0,20170811,Arsenal,Leicester,4,3,H,1.0,0.0,1
1,20170812,Brighton,Man City,0,2,A,0.0,1.0,1
2,20170812,Chelsea,Burnley,2,3,A,0.0,1.0,1
3,20170812,Crystal Palace,Huddersfield,0,3,A,0.0,1.0,1
4,20170812,Everton,Stoke,1,0,H,1.0,0.0,1
5,20170812,Southampton,Swansea,0,0,D,0.5,0.5,1
6,20170812,Watford,Liverpool,3,3,D,0.5,0.5,1
7,20170812,West Brom,Bournemouth,1,0,H,1.0,0.0,1
8,20170813,Man United,West Ham,4,0,H,1.0,0.0,1
9,20170813,Newcastle,Tottenham,0,2,A,0.0,1.0,1
10,20170819,Bournemouth,Watford,0,2,A,0.0,1.0,1
11,20170819,Burnley,West Brom,0,1,A,0.0,1.0,1
12,20170819,Leicester,Brighton,2,0,H,1.0,0.0,1
13,20170819,Liverpool,Crystal Palace,1,0,H,1.0,0.0,1
14,20170819,Southampton,West Ham,3,2,H,1.0,0.0,1
15,20170819,Stoke,Arsenal,1,0,H,1.0,0.0,1
16,20170819,Swansea,Man United,0,4,A,0.0,1.0,1
17,20170820,Huddersfield,Newcastle,1,0,H,1.0,0.0,1
18,20170820,Tottenham,Chelsea,1,2,A,0.0,1.0,1
19,20170821,Man City,Everton,1,1,D,0.5,0.5,1
20,20170826,Bournemouth,Man City,1,2,A,0.0,1.0,1
21,20170826,Crystal Palace,Swansea,0,2,A,0.0,1.0,1
22,20170826,Huddersfield,Southampton,0,0,D,0.5,0.5,1
23,20170826,Man United,Leicester,2,0,H,1.0,0.0,1
24,20170826,Newcastle,West Ham,3,0,H,1.0,0.0,1
25,20170826,Watford,Brighton,0,0,D,0.5,0.5,1
26,20170827,Chelsea,Everton,2,0,H,1.0,0.0,1
27,20170827,Liverpool,Arsenal,4,0,H,1.0,0.0,1
28,20170827,Tottenham,Burnley,1,1,D,0.5,0.5,1
29,20170827,West Brom,Stoke,1,1,D,0.5,0.5,1
...,...,...,...,...,...,...,...,...,...
350,20180428,Swansea,Chelsea,0,1,A,0.0,1.0,1
351,20180429,Man United,Arsenal,2,1,H,1.0,0.0,1
352,20180429,West Ham,Man City,1,4,A,0.0,1.0,1
353,20180430,Tottenham,Watford,2,0,H,1.0,0.0,1
354,20180504,Brighton,Man United,1,0,H,1.0,0.0,1
355,20180505,Bournemouth,Swansea,1,0,H,1.0,0.0,1
356,20180505,Everton,Southampton,1,1,D,0.5,0.5,1
357,20180505,Leicester,West Ham,0,2,A,0.0,1.0,1
358,20180505,Stoke,Crystal Palace,1,2,A,0.0,1.0,1
359,20180505,Watford,Newcastle,2,1,H,1.0,0.0,1
360,20180505,West Brom,Tottenham,1,0,H,1.0,0.0,1
361,20180506,Arsenal,Burnley,5,0,H,1.0,0.0,1
362,20180506,Chelsea,Liverpool,1,0,H,1.0,0.0,1
363,20180506,Man City,Huddersfield,0,0,D,0.5,0.5,1
364,20180508,Swansea,Southampton,0,1,A,0.0,1.0,1
365,20180509,Chelsea,Huddersfield,1,1,D,0.5,0.5,1
366,20180509,Leicester,Arsenal,3,1,H,1.0,0.0,1
367,20180509,Man City,Brighton,3,1,H,1.0,0.0,1
368,20180509,Tottenham,Newcastle,1,0,H,1.0,0.0,1
369,20180510,West Ham,Man United,0,0,D,0.5,0.5,1
370,20180513,Burnley,Bournemouth,1,2,A,0.0,1.0,1
371,20180513,Crystal Palace,West Brom,2,0,H,1.0,0.0,1
372,20180513,Huddersfield,Arsenal,0,1,A,0.0,1.0,1
373,20180513,Liverpool,Brighton,4,0,H,1.0,0.0,1
374,20180513,Man United,Watford,1,0,H,1.0,0.0,1
375,20180513,Newcastle,Chelsea,3,0,H,1.0,0.0,1
376,20180513,Southampton,Man City,0,1,A,0.0,1.0,1
377,20180513,Swansea,Stoke,1,2,A,0.0,1.0,1
378,20180513,Tottenham,Leicester,5,4,H,1.0,0.0,1
379,20180513,West Ham,Everton,3,1,H,1.0,0.0,1

## Step 3

In [46]:
Half1 = EPL18[EPL18.Date < 20180000]
Half2 = EPL18[EPL18.Date > 20180000]

Half2

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,hwinvalue,awinvalue,count
209,20180101,Brighton,Bournemouth,2,2,D,0.5,0.5,1
210,20180101,Burnley,Liverpool,1,2,A,0.0,1.0,1
211,20180101,Everton,Man United,0,2,A,0.0,1.0,1
212,20180101,Leicester,Huddersfield,3,0,H,1.0,0.0,1
213,20180101,Stoke,Newcastle,0,1,A,0.0,1.0,1
214,20180102,Man City,Watford,3,1,H,1.0,0.0,1
215,20180102,Southampton,Crystal Palace,1,2,A,0.0,1.0,1
216,20180102,Swansea,Tottenham,0,2,A,0.0,1.0,1
217,20180102,West Ham,West Brom,2,1,H,1.0,0.0,1
218,20180103,Arsenal,Chelsea,2,2,D,0.5,0.5,1
219,20180104,Tottenham,West Ham,1,1,D,0.5,0.5,1
220,20180113,Chelsea,Leicester,0,0,D,0.5,0.5,1
221,20180113,Crystal Palace,Burnley,1,0,H,1.0,0.0,1
222,20180113,Huddersfield,West Ham,1,4,A,0.0,1.0,1
223,20180113,Newcastle,Swansea,1,1,D,0.5,0.5,1
224,20180113,Tottenham,Everton,4,0,H,1.0,0.0,1
225,20180113,Watford,Southampton,2,2,D,0.5,0.5,1
226,20180113,West Brom,Brighton,2,0,H,1.0,0.0,1
227,20180114,Bournemouth,Arsenal,2,1,H,1.0,0.0,1
228,20180114,Liverpool,Man City,4,3,H,1.0,0.0,1
229,20180115,Man United,Stoke,3,0,H,1.0,0.0,1
230,20180120,Arsenal,Crystal Palace,4,1,H,1.0,0.0,1
231,20180120,Brighton,Chelsea,0,4,A,0.0,1.0,1
232,20180120,Burnley,Man United,0,1,A,0.0,1.0,1
233,20180120,Everton,West Brom,1,1,D,0.5,0.5,1
234,20180120,Leicester,Watford,2,0,H,1.0,0.0,1
235,20180120,Man City,Newcastle,3,1,H,1.0,0.0,1
236,20180120,Stoke,Huddersfield,2,0,H,1.0,0.0,1
237,20180120,West Ham,Bournemouth,1,1,D,0.5,0.5,1
238,20180121,Southampton,Tottenham,1,1,D,0.5,0.5,1
...,...,...,...,...,...,...,...,...,...
350,20180428,Swansea,Chelsea,0,1,A,0.0,1.0,1
351,20180429,Man United,Arsenal,2,1,H,1.0,0.0,1
352,20180429,West Ham,Man City,1,4,A,0.0,1.0,1
353,20180430,Tottenham,Watford,2,0,H,1.0,0.0,1
354,20180504,Brighton,Man United,1,0,H,1.0,0.0,1
355,20180505,Bournemouth,Swansea,1,0,H,1.0,0.0,1
356,20180505,Everton,Southampton,1,1,D,0.5,0.5,1
357,20180505,Leicester,West Ham,0,2,A,0.0,1.0,1
358,20180505,Stoke,Crystal Palace,1,2,A,0.0,1.0,1
359,20180505,Watford,Newcastle,2,1,H,1.0,0.0,1
360,20180505,West Brom,Tottenham,1,0,H,1.0,0.0,1
361,20180506,Arsenal,Burnley,5,0,H,1.0,0.0,1
362,20180506,Chelsea,Liverpool,1,0,H,1.0,0.0,1
363,20180506,Man City,Huddersfield,0,0,D,0.5,0.5,1
364,20180508,Swansea,Southampton,0,1,A,0.0,1.0,1
365,20180509,Chelsea,Huddersfield,1,1,D,0.5,0.5,1
366,20180509,Leicester,Arsenal,3,1,H,1.0,0.0,1
367,20180509,Man City,Brighton,3,1,H,1.0,0.0,1
368,20180509,Tottenham,Newcastle,1,0,H,1.0,0.0,1
369,20180510,West Ham,Man United,0,0,D,0.5,0.5,1
370,20180513,Burnley,Bournemouth,1,2,A,0.0,1.0,1
371,20180513,Crystal Palace,West Brom,2,0,H,1.0,0.0,1
372,20180513,Huddersfield,Arsenal,0,1,A,0.0,1.0,1
373,20180513,Liverpool,Brighton,4,0,H,1.0,0.0,1
374,20180513,Man United,Watford,1,0,H,1.0,0.0,1
375,20180513,Newcastle,Chelsea,3,0,H,1.0,0.0,1
376,20180513,Southampton,Man City,0,1,A,0.0,1.0,1
377,20180513,Swansea,Stoke,1,2,A,0.0,1.0,1
378,20180513,Tottenham,Leicester,5,4,H,1.0,0.0,1
379,20180513,West Ham,Everton,3,1,H,1.0,0.0,1

## Step 4 (home team)

In [47]:
EPLhome17 = Half1.groupby(['HomeTeam'])['count','hwinvalue', 'FTHG','FTAG'].sum().reset_index()
EPLhome17 = EPLhome17.rename(columns={'HomeTeam':'team','count':'Ph','FTHG':'FTHGh','FTAG':'FTAGh'})
EPLhome17

              team  Ph  hwinvalue  FTHGh  FTAGh
0          Arsenal  10        8.5     25     10
1      Bournemouth  11        4.5     14     17
2         Brighton  10        5.5     10     12
3          Burnley  10        6.0      7      6
4          Chelsea  11        8.5     21      7
5   Crystal Palace  11        5.0     14     18
6          Everton  10        6.5     17     13
7     Huddersfield  11        6.0     10     12
8        Leicester  10        5.0     13     14
9        Liverpool  11        8.5     21      4
10        Man City  10        9.5     36      7
11      Man United  11        9.0     24      5
12       Newcastle  11        4.0      9     13
13     Southampton  11        5.0     13     15
14           Stoke  10        5.0     13     19
15         Swansea  10        3.0      6     15
16       Tottenham  10        7.5     21      8
17         Watford  11        4.5     14     23
18       West Brom  11        4.5     10     15
19        West Ham   9        4.0     10     14

## Step 5 (home team)

In [48]:
EPLaway17 =  Half1.groupby('AwayTeam')['count','awinvalue', 'FTHG','FTAG'].sum().reset_index()
EPLaway17 = EPLaway17.rename(columns={'AwayTeam':'team','count':'Pa','FTHG':'FTHGa','FTAG':'FTAGa'})
EPLaway17

              team  Pa  awinvalue  FTHGa  FTAGa
0          Arsenal  11        5.0     16     13
1      Bournemouth  10        3.0     15      6
2         Brighton  11        3.0     13      5
3          Burnley  11        6.5     11     11
4          Chelsea  10        7.0      7     18
5   Crystal Palace  10        2.5     14      4
6          Everton  11        3.5     19      8
7     Huddersfield  10        3.0     20      8
8        Leicester  11        5.0     18     18
9        Liverpool  10        6.5     20     27
10        Man City  11       10.5      5     25
11      Man United  10        6.5     11     19
12       Newcastle  10        3.0     17     10
13     Southampton  10        3.0     15      7
14           Stoke  11        2.5     27     10
15         Swansea  11        3.0     17      7
16       Tottenham  10        5.5     12     18
17         Watford  10        4.5     14     16
18       West Brom  10        2.5     13      5
19        West Ham  11        3.0     24     12

## Step 6 (home team)

In [49]:

EPL17 = pd.merge(EPLhome17, EPLaway17, on = ['team'])
EPL17

              team  Ph  hwinvalue  FTHGh  FTAGh  Pa  awinvalue  FTHGa  FTAGa
0          Arsenal  10        8.5     25     10  11        5.0     16     13
1      Bournemouth  11        4.5     14     17  10        3.0     15      6
2         Brighton  10        5.5     10     12  11        3.0     13      5
3          Burnley  10        6.0      7      6  11        6.5     11     11
4          Chelsea  11        8.5     21      7  10        7.0      7     18
5   Crystal Palace  11        5.0     14     18  10        2.5     14      4
6          Everton  10        6.5     17     13  11        3.5     19      8
7     Huddersfield  11        6.0     10     12  10        3.0     20      8
8        Leicester  10        5.0     13     14  11        5.0     18     18
9        Liverpool  11        8.5     21      4  10        6.5     20     27
10        Man City  10        9.5     36      7  11       10.5      5     25
11      Man United  11        9.0     24      5  10        6.5     11     19
12       Newcastle  11        4.0      9     13  10        3.0     17     10
13     Southampton  11        5.0     13     15  10        3.0     15      7
14           Stoke  10        5.0     13     19  11        2.5     27     10
15         Swansea  10        3.0      6     15  11        3.0     17      7
16       Tottenham  10        7.5     21      8  10        5.5     12     18
17         Watford  11        4.5     14     23  10        4.5     14     16
18       West Brom  11        4.5     10     15  10        2.5     13      5
19        West Ham   9        4.0     10     14  11        3.0     24     12

## Optional steps, not required for Assessment 
### (Uncomment to run)

In [50]:

EPL17['W'] = EPL17['hwinvalue']+EPL17['awinvalue']
EPL17['G'] = EPL17['Ph']+EPL17['Pa']
EPL17['GF'] = EPL17['FTHGh']+EPL17['FTAGa']
EPL17['GA'] = EPL17['FTAGh']+EPL17['FTHGa']
EPL17

,team,Ph,hwinvalue,FTHGh,FTAGh,Pa,awinvalue,FTHGa,FTAGa,W,G,GF,GA
0,Arsenal,10,8.5,25,10,11,5.0,16,13,13.5,21,38,26
1,Bournemouth,11,4.5,14,17,10,3.0,15,6,7.5,21,20,32
2,Brighton,10,5.5,10,12,11,3.0,13,5,8.5,21,15,25
3,Burnley,10,6.0,7,6,11,6.5,11,11,12.5,21,18,17
4,Chelsea,11,8.5,21,7,10,7.0,7,18,15.5,21,39,14
5,Crystal Palace,11,5.0,14,18,10,2.5,14,4,7.5,21,18,32
6,Everton,10,6.5,17,13,11,3.5,19,8,10.0,21,25,32
7,Huddersfield,11,6.0,10,12,10,3.0,20,8,9.0,21,18,32
8,Leicester,10,5.0,13,14,11,5.0,18,18,10.0,21,31,32
9,Liverpool,11,8.5,21,4,10,6.5,20,27,15.0,21,48,24
10,Man City,10,9.5,36,7,11,10.5,5,25,20.0,21,61,12
11,Man United,11,9.0,24,5,10,6.5,11,19,15.5,21,43,16
12,Newcastle,11,4.0,9,13,10,3.0,17,10,7.0,21,19,30
13,Southampton,11,5.0,13,15,10,3.0,15,7,8.0,21,20,30
14,Stoke,10,5.0,13,19,11,2.5,27,10,7.5,21,23,46
15,Swansea,10,3.0,6,15,11,3.0,17,7,6.0,21,13,32
16,Tottenham,10,7.5,21,8,10,5.5,12,18,13.0,20,39,20
17,Watford,11,4.5,14,23,10,4.5,14,16,9.0,21,30,37
18,West Brom,11,4.5,10,15,10,2.5,13,5,7.0,21,15,28
19,West Ham,9,4.0,10,14,11,3.0,24,12,7.0,20,22,38

In [51]:
EPL17['wpc17'] = EPL17['W']/EPL17['G']
EPL17['pyth17'] = EPL17['GF']**2/(EPL17['GF']**2 + EPL17['GA']**2)
EPL17

,team,Ph,hwinvalue,FTHGh,FTAGh,Pa,awinvalue,FTHGa,FTAGa,W,G,GF,GA,wpc17,pyth17
0,Arsenal,10,8.5,25,10,11,5.0,16,13,13.5,21,38,26,0.642857,0.681132
1,Bournemouth,11,4.5,14,17,10,3.0,15,6,7.5,21,20,32,0.357143,0.280899
2,Brighton,10,5.5,10,12,11,3.0,13,5,8.5,21,15,25,0.404762,0.264706
3,Burnley,10,6.0,7,6,11,6.5,11,11,12.5,21,18,17,0.595238,0.528548
4,Chelsea,11,8.5,21,7,10,7.0,7,18,15.5,21,39,14,0.738095,0.885847
5,Crystal Palace,11,5.0,14,18,10,2.5,14,4,7.5,21,18,32,0.357143,0.240356
6,Everton,10,6.5,17,13,11,3.5,19,8,10.0,21,25,32,0.476190,0.379018
7,Huddersfield,11,6.0,10,12,10,3.0,20,8,9.0,21,18,32,0.428571,0.240356
8,Leicester,10,5.0,13,14,11,5.0,18,18,10.0,21,31,32,0.476190,0.484131
9,Liverpool,11,8.5,21,4,10,6.5,20,27,15.0,21,48,24,0.714286,0.800000
10,Man City,10,9.5,36,7,11,10.5,5,25,20.0,21,61,12,0.952381,0.962743
11,Man United,11,9.0,24,5,10,6.5,11,19,15.5,21,43,16,0.738095,0.878385
12,Newcastle,11,4.0,9,13,10,3.0,17,10,7.0,21,19,30,0.333333,0.286281
13,Southampton,11,5.0,13,15,10,3.0,15,7,8.0,21,20,30,0.380952,0.307692
14,Stoke,10,5.0,13,19,11,2.5,27,10,7.5,21,23,46,0.357143,0.200000
15,Swansea,10,3.0,6,15,11,3.0,17,7,6.0,21,13,32,0.285714,0.141660
16,Tottenham,10,7.5,21,8,10,5.5,12,18,13.0,20,39,20,0.650000,0.791775
17,Watford,11,4.5,14,23,10,4.5,14,16,9.0,21,30,37,0.428571,0.396651
18,West Brom,11,4.5,10,15,10,2.5,13,5,7.0,21,15,28,0.333333,0.222993
19,West Ham,9,4.0,10,14,11,3.0,24,12,7.0,20,22,38,0.350000,0.251037

## Step 7 (=Step 4 (away team))

In [52]:
EPLhome18 = Half2.groupby(['HomeTeam'])['count','hwinvalue', 'FTHG','FTAG'].sum().reset_index()
EPLhome18 = EPLhome18.rename(columns={'HomeTeam':'team','count':'Ph','FTHG':'FTHGh','FTAG':'FTAGh'})
EPLhome18

              team  Ph  hwinvalue  FTHGh  FTAGh
0          Arsenal   9        7.5     29     10
1      Bournemouth   8        5.0     12     13
2         Brighton   9        5.5     14     13
3          Burnley   9        3.5      9     11
4          Chelsea   8        4.5      9      9
5   Crystal Palace   8        4.5     15      9
6          Everton   9        5.5     11      9
7     Huddersfield   8        2.5      6     13
8        Leicester   9        5.0     12      8
9        Liverpool   8        7.0     24      6
10        Man City   9        7.5     25      7
11      Man United   8        7.0     14      4
12       Newcastle   8        6.0     12      4
13     Southampton   8        2.5      7     11
14           Stoke   9        2.5      7     11
15         Swansea   9        4.5     11      9
16       Tottenham   9        7.5     19      8
17         Watford   8        5.5     13      8
18       West Brom   8        3.0     11     14
19        West Ham  10        6.0     14     12

## Step 7 (=Step 5 (away team))

In [53]:
EPLaway18=  Half2.groupby('AwayTeam')['count','awinvalue', 'FTHG','FTAG'].sum().reset_index()
EPLaway18= EPLaway18.rename(columns={'AwayTeam':'team','count':'Pa','FTHG':'FTHGa','FTAG':'FTAGa'})
EPLaway18

              team  Pa  awinvalue  FTHGa  FTAGa
0          Arsenal   8        1.0     15      7
1      Bournemouth   9        4.0     16     13
2         Brighton   8        1.5     16      5
3          Burnley   8        4.0     11      9
4          Chelsea   9        4.5     15     14
5   Crystal Palace   9        4.5     14     12
6          Everton   8        2.5     17      8
7     Huddersfield   9        2.5     13      4
8        Leicester   8        2.5     20     13
9        Liverpool   9        5.0      8     12
10        Man City   8        6.5      8     20
11      Man United   9        5.5      8     11
12       Newcastle   9        3.0     13      8
13     Southampton   9        4.0     15     10
14           Stoke   8        3.0     11      5
15         Swansea   8        2.0     15      4
16       Tottenham   9        6.5      8     16
17         Watford   9        0.5     19      1
18       West Brom   9        2.5     14      5
19        West Ham   8        3.0     18     12

## Step 7 (=Step 6 (away team))

In [54]:

EPL18 = pd.merge(EPLhome18, EPLaway18, on = ['team'])
EPL18

              team  Ph  hwinvalue  FTHGh  FTAGh  Pa  awinvalue  FTHGa  FTAGa
0          Arsenal   9        7.5     29     10   8        1.0     15      7
1      Bournemouth   8        5.0     12     13   9        4.0     16     13
2         Brighton   9        5.5     14     13   8        1.5     16      5
3          Burnley   9        3.5      9     11   8        4.0     11      9
4          Chelsea   8        4.5      9      9   9        4.5     15     14
5   Crystal Palace   8        4.5     15      9   9        4.5     14     12
6          Everton   9        5.5     11      9   8        2.5     17      8
7     Huddersfield   8        2.5      6     13   9        2.5     13      4
8        Leicester   9        5.0     12      8   8        2.5     20     13
9        Liverpool   8        7.0     24      6   9        5.0      8     12
10        Man City   9        7.5     25      7   8        6.5      8     20
11      Man United   8        7.0     14      4   9        5.5      8     11
12       Newcastle   8        6.0     12      4   9        3.0     13      8
13     Southampton   8        2.5      7     11   9        4.0     15     10
14           Stoke   9        2.5      7     11   8        3.0     11      5
15         Swansea   9        4.5     11      9   8        2.0     15      4
16       Tottenham   9        7.5     19      8   9        6.5      8     16
17         Watford   8        5.5     13      8   9        0.5     19      1
18       West Brom   8        3.0     11     14   9        2.5     14      5
19        West Ham  10        6.0     14     12   8        3.0     18     12

## Optional steps, not required for Assessment
### (Uncomment to run)

In [55]:
EPL18['W'] = EPL18['hwinvalue']+EPL18['awinvalue']
EPL18['G'] = EPL18['Ph']+EPL18['Pa']
EPL18['GF'] = EPL18['FTHGh']+EPL18['FTAGa']
EPL18['GA'] = EPL18['FTAGh']+EPL18['FTHGa']
EPL18

,team,Ph,hwinvalue,FTHGh,FTAGh,Pa,awinvalue,FTHGa,FTAGa,W,G,GF,GA
0,Arsenal,9,7.5,29,10,8,1.0,15,7,8.5,17,36,25
1,Bournemouth,8,5.0,12,13,9,4.0,16,13,9.0,17,25,29
2,Brighton,9,5.5,14,13,8,1.5,16,5,7.0,17,19,29
3,Burnley,9,3.5,9,11,8,4.0,11,9,7.5,17,18,22
4,Chelsea,8,4.5,9,9,9,4.5,15,14,9.0,17,23,24
5,Crystal Palace,8,4.5,15,9,9,4.5,14,12,9.0,17,27,23
6,Everton,9,5.5,11,9,8,2.5,17,8,8.0,17,19,26
7,Huddersfield,8,2.5,6,13,9,2.5,13,4,5.0,17,10,26
8,Leicester,9,5.0,12,8,8,2.5,20,13,7.5,17,25,28
9,Liverpool,8,7.0,24,6,9,5.0,8,12,12.0,17,36,14
10,Man City,9,7.5,25,7,8,6.5,8,20,14.0,17,45,15
11,Man United,8,7.0,14,4,9,5.5,8,11,12.5,17,25,12
12,Newcastle,8,6.0,12,4,9,3.0,13,8,9.0,17,20,17
13,Southampton,8,2.5,7,11,9,4.0,15,10,6.5,17,17,26
14,Stoke,9,2.5,7,11,8,3.0,11,5,5.5,17,12,22
15,Swansea,9,4.5,11,9,8,2.0,15,4,6.5,17,15,24
16,Tottenham,9,7.5,19,8,9,6.5,8,16,14.0,18,35,16
17,Watford,8,5.5,13,8,9,0.5,19,1,6.0,17,14,27
18,West Brom,8,3.0,11,14,9,2.5,14,5,5.5,17,16,28
19,West Ham,10,6.0,14,12,8,3.0,18,12,9.0,18,26,30

In [56]:

EPL18['wpc18'] = EPL18['W']/EPL18['G']
EPL18['pyth18'] = EPL18['GF']**2/(EPL18['GF']**2 + EPL18['GA']**2)
EPL18

,team,Ph,hwinvalue,FTHGh,FTAGh,Pa,awinvalue,FTHGa,FTAGa,W,G,GF,GA,wpc18,pyth18
0,Arsenal,9,7.5,29,10,8,1.0,15,7,8.5,17,36,25,0.500000,0.674649
1,Bournemouth,8,5.0,12,13,9,4.0,16,13,9.0,17,25,29,0.529412,0.426330
2,Brighton,9,5.5,14,13,8,1.5,16,5,7.0,17,19,29,0.411765,0.300333
3,Burnley,9,3.5,9,11,8,4.0,11,9,7.5,17,18,22,0.441176,0.400990
4,Chelsea,8,4.5,9,9,9,4.5,15,14,9.0,17,23,24,0.529412,0.478733
5,Crystal Palace,8,4.5,15,9,9,4.5,14,12,9.0,17,27,23,0.529412,0.579491
6,Everton,9,5.5,11,9,8,2.5,17,8,8.0,17,19,26,0.470588,0.348120
7,Huddersfield,8,2.5,6,13,9,2.5,13,4,5.0,17,10,26,0.294118,0.128866
8,Leicester,9,5.0,12,8,8,2.5,20,13,7.5,17,25,28,0.441176,0.443577
9,Liverpool,8,7.0,24,6,9,5.0,8,12,12.0,17,36,14,0.705882,0.868633
10,Man City,9,7.5,25,7,8,6.5,8,20,14.0,17,45,15,0.823529,0.900000
11,Man United,8,7.0,14,4,9,5.5,8,11,12.5,17,25,12,0.735294,0.812744
12,Newcastle,8,6.0,12,4,9,3.0,13,8,9.0,17,20,17,0.529412,0.580552
13,Southampton,8,2.5,7,11,9,4.0,15,10,6.5,17,17,26,0.382353,0.299482
14,Stoke,9,2.5,7,11,8,3.0,11,5,5.5,17,12,22,0.323529,0.229299
15,Swansea,9,4.5,11,9,8,2.0,15,4,6.5,17,15,24,0.382353,0.280899
16,Tottenham,9,7.5,19,8,9,6.5,8,16,14.0,18,35,16,0.777778,0.827144
17,Watford,8,5.5,13,8,9,0.5,19,1,6.0,17,14,27,0.352941,0.211892
18,West Brom,8,3.0,11,14,9,2.5,14,5,5.5,17,16,28,0.323529,0.246154
19,West Ham,10,6.0,14,12,8,3.0,18,12,9.0,18,26,30,0.500000,0.428934

## Step 8

In [57]:
#NOW PREDICT WINS PER GAME IN 18 SEASON UDING PYTH EXPEC OF 17 SEASON AND FIND RELATION

EPL1718 = pd.merge(EPL17, EPL18, on = ['team'])
EPL1718

,team,Ph_x,hwinvalue_x,FTHGh_x,FTAGh_x,Pa_x,awinvalue_x,FTHGa_x,FTAGa_x,W_x,...,Pa_y,awinvalue_y,FTHGa_y,FTAGa_y,W_y,G_y,GF_y,GA_y,wpc18,pyth18
0,Arsenal,10,8.5,25,10,11,5.0,16,13,13.5,...,8,1.0,15,7,8.5,17,36,25,0.500000,0.674649
1,Bournemouth,11,4.5,14,17,10,3.0,15,6,7.5,...,9,4.0,16,13,9.0,17,25,29,0.529412,0.426330
2,Brighton,10,5.5,10,12,11,3.0,13,5,8.5,...,8,1.5,16,5,7.0,17,19,29,0.411765,0.300333
3,Burnley,10,6.0,7,6,11,6.5,11,11,12.5,...,8,4.0,11,9,7.5,17,18,22,0.441176,0.400990
4,Chelsea,11,8.5,21,7,10,7.0,7,18,15.5,...,9,4.5,15,14,9.0,17,23,24,0.529412,0.478733
5,Crystal Palace,11,5.0,14,18,10,2.5,14,4,7.5,...,9,4.5,14,12,9.0,17,27,23,0.529412,0.579491
6,Everton,10,6.5,17,13,11,3.5,19,8,10.0,...,8,2.5,17,8,8.0,17,19,26,0.470588,0.348120
7,Huddersfield,11,6.0,10,12,10,3.0,20,8,9.0,...,9,2.5,13,4,5.0,17,10,26,0.294118,0.128866
8,Leicester,10,5.0,13,14,11,5.0,18,18,10.0,...,8,2.5,20,13,7.5,17,25,28,0.441176,0.443577
9,Liverpool,11,8.5,21,4,10,6.5,20,27,15.0,...,9,5.0,8,12,12.0,17,36,14,0.705882,0.868633
10,Man City,10,9.5,36,7,11,10.5,5,25,20.0,...,8,6.5,8,20,14.0,17,45,15,0.823529,0.900000
11,Man United,11,9.0,24,5,10,6.5,11,19,15.5,...,9,5.5,8,11,12.5,17,25,12,0.735294,0.812744
12,Newcastle,11,4.0,9,13,10,3.0,17,10,7.0,...,9,3.0,13,8,9.0,17,20,17,0.529412,0.580552
13,Southampton,11,5.0,13,15,10,3.0,15,7,8.0,...,9,4.0,15,10,6.5,17,17,26,0.382353,0.299482
14,Stoke,10,5.0,13,19,11,2.5,27,10,7.5,...,8,3.0,11,5,5.5,17,12,22,0.323529,0.229299
15,Swansea,10,3.0,6,15,11,3.0,17,7,6.0,...,8,2.0,15,4,6.5,17,15,24,0.382353,0.280899
16,Tottenham,10,7.5,21,8,10,5.5,12,18,13.0,...,9,6.5,8,16,14.0,18,35,16,0.777778,0.827144
17,Watford,11,4.5,14,23,10,4.5,14,16,9.0,...,9,0.5,19,1,6.0,17,14,27,0.352941,0.211892
18,West Brom,11,4.5,10,15,10,2.5,13,5,7.0,...,9,2.5,14,5,5.5,17,16,28,0.323529,0.246154
19,West Ham,9,4.0,10,14,11,3.0,24,12,7.0,...,8,3.0,18,12,9.0,18,26,30,0.500000,0.428934

## Step 9

In [61]:
keyvars = EPL1718[['team','wpc17','wpc18','pyth17','pyth18']]
keyvars.corr()

           wpc17     wpc18    pyth17    pyth18
wpc17   1.000000  0.756573  0.968204  0.745832
wpc18   0.756573  1.000000  0.795693  0.955986
pyth17  0.968204  0.795693  1.000000  0.795331
pyth18  0.745832  0.955986  0.795331  1.000000

## Optional steps, not required for Assessment
### (Uncomment to run)

In [59]:
keyvars = Half2predictor[['team','wpc2','wpc1','pyth1','pyth2']]
keyvars.corr()

NameError: name 'Half2predictor' is not defined

In [60]:
keyvars = keyvars.sort_values(by=['wpc2'],ascending=False)
keyvars

KeyError: 'wpc2'

Now you have completed the assignment, are these results consistent with those we found for Major League Baseball?